.box {
  width: 300px;
  height: 100px;
  padding: 20px;
  border: 10px solid rgb(0, 128, 0, 0.1);
  /* margin: 30px; */
  margin: 30px auto;
}

.one {
  background-color: blueviolet;
  background-clip: content-box;
  /* background-clip: padding-box; */
  /* background-clip: border-box; */
}

.two {
  box-sizing: border-box;
  border-color: green;
  /* margin-top: -100px; */
  margin-top: 100px;
}

.inline-box {
  width: 300px;
  height: 200px;
  /* ========PADDING========= */
  padding: 0 20px;
  /* padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px; */
  /* ========================== */
  /* ========BORDER========= */
  /* border: 3px solid; */
  border: solid;
  border-width: 2px 5px 1px;
  /* border-width: 2px 5px 1px 5px; */
  /* ========================== */
  /* ========MARGIN========= */
  margin: 0 30px 0 30px;
  /* margin: 0 30px; */
  /* margin: 30px; */
  /* margin-bottom: 0;
  margin-top: 0;
  margin-left: 30px;
  margin-right: 30px; */
  /* ========================== */
}

/* ========================================= */

.box1 {
  width: 300px;
  height: 100px;
  padding: 20px;
  border: 10px solid rgb(0, 128, 0, 0.1);
  /* margin: 30px; */
  margin: 30px auto;
}

.three {
  /* background-color: blueviolet; */
  /* background-clip: content-box; */
  /* background-clip: padding-box; */
  /* background-clip: border-box; */
  /* overflow: hidden; */
  /* overflow: scroll; */
  /* overflow: auto; */
}

.content-box {
  height: 100%;
  background-color: blueviolet;
  background-clip: content-box;
  /* background-clip: padding-box; */
  /* background-clip: border-box; */
  /* overflow: hidden; */
  overflow: auto;
}
